@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  display: flex;
  font-family: 'Poppins', sans-serif;
  background-color: #f4f6f8;
  color: #222;
  transition: background-color 0.3s ease, color 0.3s ease;
  height: 100vh;
}

body.modo-oscuro {
  background-color: #121212;
  color: #eee;
}

body.modo-claro {
  background-color: #ffffff;
  color: #222;
}

.sidebar {
  width: 260px;
  background-color: #1C5D99;
  color: #fff;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 2px 0 6px rgba(0,0,0,0.2);
}

.sidebar h2 {
  font-size: 1.6rem;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
}

.sidebar ul li {
  margin: 12px 0;
}

.sidebar ul li button {
  background: none;
  color: #fff;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  text-align: left;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background 0.3s;
  border-radius: 6px;
}

.sidebar ul li button:hover {
  background-color: #ffffff33;
}

.buscador {
  margin-top: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 220px; 
}


.buscador input {
  flex-grow: 1;
  padding: 8px 10px;
  font-size: 0.85rem;
  border-radius: 10px;

}

.buscador button {
  padding: 8px 10px;
  border-radius: 6px;
}


.buscador button:hover {
  background-color: #d0d0d0;
}

.estado-db {
  margin-top: auto;
  font-size: 0.9rem;
  color: #ddd;
  margin-top: 30px;
}

main.mapa {
  flex-grow: 1;
  position: relative;
}

#map {
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.leaflet-popup-content-wrapper {
  font-size: 0.9rem;
  font-weight: 500;
  color: #333;
}

.leaflet-popup-content {
  line-height: 1.4;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  #map {
    height: 100vh;
    width: 100vw;
  }
}
